<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

    <p>
    Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Alexandria</a>. A web developer on a mission to learn the technical skills needed to turn her ideas into reality.
  </p> 
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Alexandria Leary</h2>
      <br />
      <p>
        <a target="_blank" href="https://alexandrialeary.netlify.com/">Alexandria</a> is a web developer, world traveler and Business Support Manager for Bank of America. She plans to make it to all 7 continents before 2022. 
      </p>
      <p> She is currently learning as much as possible while finishing her MS in Information Systems from University of Colorado - Denver (December 2020). She is a Business Support Lead for the Global Information Security team and Bank of America.
      </p>
      <br />

    </div>
  </div>
  
  <br class="clear" />
    <br />
    <br />
    <br />
    <br />  
</div>